.portfolio-body{
	padding-top: 2%;
}
.card:hover {
  animation: ease-in 0.3s ;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
