.Nav-color {
	background-color: #0e1630;
}
.routes:hover{
	color: #EE2B47;
}
.name {
	font-size: 24px;
}
.navbar-brand {
	display: flex;
	align-items: center;
}

@keyframes pulse-heartbeat {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
}
.nav-item:hover {
	animation: pulse-heartbeat 0.5s ease-out;
   transform-origin: center;
}

.active {
	color: white;
}

