.Nav-color {
	background-color: #DDDDDD;
	position: relative;

}
.routes:hover{
	color: #756AB6;
}
.name {
	font-size: 24px;
}
.navbar-brand {
	display: flex;
	align-items: center;
}

.active {
	color: white;
}

.custom-link {
    text-decoration: none; /* Remove underline */
    color: black; /* Match the text color */
}
