@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
.intro-color {
  padding-bottom: 5%;
}
.icon {
  margin-left: 10px;
  font-size: 16px;
  height: 10px;
  width: 10px;
}

.intro-section {
  margin-top: 5%;
}

