.intro-color {
  background-color: #0e1630;
  padding-bottom: 5%;
}
.icon {
  margin-left: 10px;
  font-size: 16px;
  height: 15px;
  width: 15px;
}
.profile-icn {
  margin-right: 2%;
}
.profile-icn img {
  width: 300px;
  height: auto;
  border-radius: 20%;
  margin-bottom: 20px;
  margin-top: 9%;
  background-size: 200%;
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.profile-icn img:hover {
  box-shadow: 0 0 20px rgba(247, 7, 118, 0.7), 0 0 20px rgba(248, 243, 152, 0.7), 0 0 20px rgba(102, 67, 181, 0.7);
}


.intro-section {
  margin-top: 5%;
}
